<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <bean class="org.demo.cluster.util.ApplicationContextUtil" scope="singleton" />

    <bean id="managementConfig" class="com.dmall.management.core.configuration.ManagementConfig">
        <property name="name" value="node" />
        <property name="displayName" value="Demo cluster" />
        <property name="basePath" value="/node/management" />
        <property name="desc" value="Demo Cluster for all" />
        <property name="achievePort" ref="testAchievePort" />
        <property name="classNames">
            <value>org.demo.cluster.management.impl.DemoManagementServiceImpl</value>
        </property>
    </bean>

    <bean id="testAchievePort" class="org.demo.cluster.DemoAchievePort" />

    <bean id="nodeParser" class="com.dmall.management.core.parser.NodeParser">
        <property name="managementConfig" ref="managementConfig" />
    </bean>

    <context:component-scan base-package="org.demo.cluster"  >
        <context:include-filter type="annotation"  expression="org.springframework.stereotype.Controller" />
        <context:include-filter type="annotation"  expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation"  expression="org.springframework.stereotype.Component" />
    </context:component-scan>
</beans>
